body{
  margin: 0px auto;
  padding-left: .5em;
  padding-right: .5em;
  font-family: "Microsoft YaHei", SimSun, Arial, "MS Trebuchet", sans-serif;
  max-width: 69em;
  background-color: #fbfaf9;
}

p, li{ line-height: 20px; }

#page_header{ width: 100%; }

#page_header > nav > ul{
  list-style: none;
  margin: 0; 
  padding: 0;
}

#page_header > nav > ul > li{
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: .875em;
}

#page_header > nav > ul > li > a{
  padding: 0 16px;
  
}

#page_header > nav > ul > li+li+li a{
  border-left: 1px solid #aaa;
}

#page_header > nav > ul > li >a{
   margin: 3px 0;
   padding: 0 16px;
   
}

#page_header > nav{
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #ccc;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ccc;
  margin-bottom: .5em;
  line-height: 3ex;
 }

h3{
   text-transform: uppercase;
   font-size: 1em;

}

h4{
	margin: 0 10px 2px;
	font-size: 14px;
	color: #333;
}

#sidebar{
  float: left;
  font-size: .875em;
}

#posts{
  border: 1px solid #eee;
  box-shadow: 0 0 0.5em #999;
  margin-top: 1em;
  margin-left: 16em;
  padding-left: 2em;
  padding-right: 2em;
  min-height: 25em;
  min-width: 300px;
}

#posts ul{
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
}

#posts ul li {
	background-color: #fff;
	display: inline-block;
	width: 234px;
	height: 330px;
	padding: 20px 0;
	margin-left: 14px;
	margin-bottom: 14px;
	list-style: none;
	text-align: center;
	transition: all .2s linear;
}

#posts ul li:hover{
	z-index: 2;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
	transform: translate3d(0, -2px, 0);
}
	
.img_p{
	margin: 0 10px 10px;
	font-size: 12px;
	color: #b0b0b0;
}
.price{
	margin: 0 10px 14px;
	color: #ff6700;
}
#page_footer{
  clear: both;
  display: block; 
  text-align: center;
  width: 100%; 
}

table {
  padding: 0px;
  margin-left:auto; 
  margin-right:auto;
  }

td {
  border-radius: 3px;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 3px;
  text-align: left;
  font-size:12px;}

a {
  color: #2b73b6;
  text-decoration: none;
}

a:hover {
  color: #ed6c7b;
}